<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0AqjXNYhXJ2KUOk2tgrtJj1B0Z0zO4pc</string>
	<key>GCM_SENDER_ID</key>
	<string>52000202988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluxter</string>
	<key>PROJECT_ID</key>
	<string>fluxter-4435d</string>
	<key>STORAGE_BUCKET</key>
	<string>fluxter-4435d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52000202988:ios:41db18987bc299f62cc5c9</string>
</dict>
</plist>